.column-one {
  display: flex;
  column-gap: 10px;
  margin-bottom: 1rem;
}

.gameBoard {
  border: solid 1px;
  width: 50%;
  flex-direction: column;
  align-items: center;
}

.localStats {
  width: 50%;
  border: solid 1px;
}

.column-two {
  display: flex;
  column-gap: 10px;
}

.sessionStats {
  border: solid 1px;
  width: 50%;
}
.howtoPlay {
  border: solid 1px;
  width: 50%;
}
